{% extends 'base.html.twig' %}
{% block title %}Liste des étudiants
{% endblock %}
{% block body %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Etudiants
                                    <span class="table-project-n"></span>
                                </h1>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">
                                            Basic Exportation</option>
                                        <option value="all">Tout Exporter</option>
                                        <option value="selected">Exporter les selectionnés</option>
                                    </select>
                                </div>
                                <table data-click-to-select="true" data-cookie-id-table="saveId" data-cookie="true" data-key-events="true" data-pagination="true" data-resizable="true" data-search="true" data-show-columns="true" data-show-export="true" data-show-pagination-switch="true" data-show-refresh="true" data-show-toggle="true" data-toggle="table" data-toolbar="#toolbar" id="table">
                                    <thead>
                                        <tr>
                                            <th data-checkbox="true" data-field="state"></th>
                                            <th data-editable="true" data-field="name">Prenom</th>
                                            <th data-editable="true" data-field="email">Nom</th>
                                            <th data-editable="true" data-field="phone">Téléphone</th>
                                            <th data-editable="true" data-field="complete">Date de naissance</th>
                                            <th data-editable="true" data-field="task">Filiere</th>
                                            <th data-editable="true" data-field="date">Niveau</th>
                                            <th data-editable="true" data-field="price">Genre</th>
                                            <th data-field="action">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for etudiant in etudiants %}
                                            <tr>
                                                <td>
                                                    {{ etudiant.id }}</td>
                                                <td>
                                                    {{ etudiant.firtname }}</td>
                                                <td>
                                                    {{ etudiant.lastname }}</td>
                                                <td>
                                                    {{ etudiant.mobile }}</td>
                                                <td>
                                                    {{ etudiant.datenaiss }}</td>
                                                <td>
                                                    {{ etudiant.filiere.name }}</td>
                                                <td>
                                                    {{ etudiant.niveau.libelle }}</td>
                                                <td>
                                                    {{ etudiant.genre }}</td>
                                                <td>
<a class="btn pd-setting-ed" data-toggle="tooltip" title="Visualiser" href="{{ path('etudiant_show', {'id': etudiant.id}) }}">
    
    <i aria-hidden="true" class="fa fa-eye"></i>
</a>
<a class="btn pd-setting-ed" data-toggle="tooltip" title="Modifier" href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">
    <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
</a>
                                                    {{ include('etudiant/_delete_form.html.twig') }}
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td colspan="12">Pas de resultats</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Static Table End -->
{% endblock %}