{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="profile-info-inner">
                    <div class="profile-img">
<img alt="" src="data:image/png;base64,{{ etudiant.image }}"/>
                    </div>
                    <div class="profile-details-hr">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p>
                                        <b>Nom complet</b><br/>
                                        {{etudiant.firtname}} {{etudiant.lastname}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p>
                                        <b>Filière</b><br/>
                                        {{etudiant.filiere}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p>
                                        <b>Niveau</b><br/>
                                        {{etudiant.niveau}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p>
                                        <b>Portable</b><br/>
                                        +221{{etudiant.mobile}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
<div class="col-lg-6">
    <div class="address-hr">
        <p>
            <b>Date et lieu de naissance</b><br/>
            {{etudiant.datenaiss}} à {{etudiant.lieunaiss}}</p>
    </div>
</div>
<div class="col-lg-6">
    <div class="address-hr">
        <p>
            <b>Adresse</b><br/>
            {{etudiant.address}}</p>
    </div>
</div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                    <ul class="tab-review-design" id="myTabedu1">
                        <li class="active">
                            <a href="#description">Activity</a>
                        </li>
                        <li>
                            <a href="#reviews">
                                Biography</a>
                        </li>
                        <li>
                            <a href="#INFORMATION">Update Details</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-product-edit st-prf-pro" id="myTabContent">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p>
                                                        <b>Full Name</b><br/>
                                                        Fly Zend</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p>
                                                        <b>Mobile</b><br/>
                                                        01962067309</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p>
                                                        <b>Email</b><br/>
                                                        fly@gmail.com</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p>
                                                        <b>Location</b><br/>
                                                        UK</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="content-profile">
                                                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras
                                                                                                                        dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras
                                                                                                                        dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras
                                                                                                                        dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-b-15">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="skill-title">
                                                            <h2>Skill Set</h2>
                                                            <hr/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Java</h2>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar progress-yellow" style="width: 90%;"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Php</h2>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar progress-green" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Apps</h2>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar progress-blue" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>C#</h2>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar progress-red" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-b-15">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="skill-title">
                                                            <h2>Education</h2>
                                                            <hr/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ex-pro">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-b-15">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="skill-title">
                                                            <h2>Experience</h2>
                                                            <hr/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ex-pro">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="skill-title">
                                                            <h2>Subjects</h2>
                                                            <hr/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ex-pro">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                        <li>
                                                            <i class="fa fa-angle-right"></i>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade" id="reviews">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="chat-discussion" style="height: auto">
                                            <div class="chat-message">
                                                <div class="profile-hdtc">
                                                    <img alt="" class="message-avatar" src="img/contact/1.jpg"></div>
                                                    <div class="message">
                                                        <a class="message-author" href="#">
                                                            Michael Smith
                                                        </a>
                                                        <span class="message-date">
                                                            Mon Jan 26 2015 - 18:39:23
                                                        </span>
                                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                        </span>
                                                        <div class="m-t-md mg-t-10">
                                                            <a class="btn btn-xs btn-default">
                                                                <i class="fa fa-thumbs-up"></i>
                                                                Like
                                                            </a>
                                                            <a class="btn btn-xs btn-success">
                                                                <i class="fa fa-heart"></i>
                                                                Love</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-message">
                                                    <div class="profile-hdtc">
                                                        <img alt="" class="message-avatar" src="img/contact/2.jpg"></div>
                                                        <div class="message">
                                                            <a class="message-author" href="#">
                                                                Karl Jordan
                                                            </a>
                                                            <span class="message-date">
                                                                Fri Jan 25 2015 - 11:12:36
                                                            </span>
                                                            <span class="message-content">
                                                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                                            </span>
                                                            <div class="m-t-md mg-t-10">
                                                                <a class="btn btn-xs btn-default">
                                                                    <i class="fa fa-thumbs-up"></i>
                                                                    Like
                                                                </a>
                                                                <a class="btn btn-xs btn-default">
                                                                    <i class="fa fa-heart"></i>
                                                                    Love</a>
                                                                <a class="btn btn-xs btn-primary">
                                                                    <i class="fa fa-pencil"></i>
                                                                    Message</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="chat-message">
                                                        <div class="profile-hdtc">
                                                            <img alt="" class="message-avatar" src="img/contact/3.jpg"></div>
                                                            <div class="message">
                                                                <a class="message-author" href="#">
                                                                    Michael Smith
                                                                </a>
                                                                <span class="message-date">
                                                                    Fri Jan 25 2015 - 11:12:36
                                                                </span>
                                                                <span class="message-content">
                                                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="chat-message">
                                                            <div class="profile-hdtc">
                                                                <img alt="" class="message-avatar" src="img/contact/4.jpg"></div>
                                                                <div class="message">
                                                                    <a class="message-author" href="#">
                                                                        Alice Jordan
                                                                    </a>
                                                                    <span class="message-date">
                                                                        Fri Jan 25 2015 - 11:12:36
                                                                    </span>
                                                                    <span class="message-content">
                                                                        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                                        																		It uses a dictionary of over 200 Latin words.
                                                                    </span>
                                                                    <div class="m-t-md mg-t-10">
                                                                        <a class="btn btn-xs btn-default">
                                                                            <i class="fa fa-thumbs-up"></i>
                                                                            Like
                                                                        </a>
                                                                        <a class="btn btn-xs btn-warning">
                                                                            <i class="fa fa-eye"></i>
                                                                            Nudge</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="chat-message">
                                                                <div class="profile-hdtc">
                                                                    <img alt="" class="message-avatar" src="img/contact/1.jpg"></div>
                                                                    <div class="message">
                                                                        <a class="message-author" href="#">
                                                                            Mark Smith
                                                                        </a>
                                                                        <span class="message-date">
                                                                            Fri Jan 25 2015 - 11:12:36
                                                                        </span>
                                                                        <span class="message-content">
                                                                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                                            																		It uses a dictionary of over 200 Latin words.
                                                                        </span>
                                                                        <div class="m-t-md mg-t-10">
                                                                            <a class="btn btn-xs btn-default">
                                                                                <i class="fa fa-thumbs-up"></i>
                                                                                Like
                                                                            </a>
                                                                            <a class="btn btn-xs btn-success">
                                                                                <i class="fa fa-heart"></i>
                                                                                Love</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="chat-message">
                                                                    <div class="profile-hdtc">
                                                                        <img alt="" class="message-avatar" src="img/contact/2.jpg"></div>
                                                                        <div class="message">
                                                                            <a class="message-author" href="#">
                                                                                Karl Jordan
                                                                            </a>
                                                                            <span class="message-date">
                                                                                Fri Jan 25 2015 - 11:12:36
                                                                            </span>
                                                                            <span class="message-content">
                                                                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                                                            </span>
                                                                            <div class="m-t-md mg-t-10">
                                                                                <a class="btn btn-xs btn-default">
                                                                                    <i class="fa fa-thumbs-up"></i>
                                                                                    Like
                                                                                </a>
                                                                                <a class="btn btn-xs btn-default">
                                                                                    <i class="fa fa-heart"></i>
                                                                                    Love</a>
                                                                                <a class="btn btn-xs btn-primary">
                                                                                    <i class="fa fa-pencil"></i>
                                                                                    Message</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chat-message">
                                                                        <div class="profile-hdtc">
                                                                            <img alt="" class="message-avatar" src="img/contact/3.jpg"></div>
                                                                            <div class="message">
                                                                                <a class="message-author" href="#">
                                                                                    Michael Smith
                                                                                </a>
                                                                                <span class="message-date">
                                                                                    Fri Jan 25 2015 - 11:12:36
                                                                                </span>
                                                                                <span class="message-content">
                                                                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="chat-message">
                                                                            <div class="profile-hdtc">
                                                                                <img alt="" class="message-avatar" src="img/contact/4.jpg"></div>
                                                                                <div class="message">
                                                                                    <a class="message-author" href="#">
                                                                                        Alice Jordan
                                                                                    </a>
                                                                                    <span class="message-date">
                                                                                        Fri Jan 25 2015 - 11:12:36
                                                                                    </span>
                                                                                    <span class="message-content">
                                                                                        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                                                        																		It uses a dictionary of over 200 Latin words.
                                                                                    </span>
                                                                                    <div class="m-t-md mg-t-10">
                                                                                        <a class="btn btn-xs btn-default">
                                                                                            <i class="fa fa-thumbs-up"></i>
                                                                                            Like
                                                                                        </a>
                                                                                        <a class="btn btn-xs btn-default">
                                                                                            <i class="fa fa-heart"></i>
                                                                                            Love</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-tab-list tab-pane fade" id="INFORMATION">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="review-content-section">
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <input class="form-control" name="number" placeholder="First Name" type="text"></div>
                                                                                    <div class="form-group">
                                                                                        <input class="form-control" placeholder="Last Name" type="text"></div>
                                                                                        <div class="form-group">
                                                                                            <input class="form-control" placeholder="Address" type="text"></div>
                                                                                            <div class="form-group">
                                                                                                <input class="form-control" placeholder="Date of Birth" type="text"></div>
                                                                                                <div class="form-group">
                                                                                                    <input class="form-control" placeholder="Department" type="text"></div>
                                                                                                    <div class="form-group">
                                                                                                        <input class="form-control" placeholder="Pincode" type="number"></div>
                                                                                                        <div class="file-upload-inner ts-forms">
                                                                                                            <div class="input prepend-big-btn">
                                                                                                                <label class="icon-right" for="prepend-big-btn">
                                                                                                                    <i class="fa fa-download"></i>
                                                                                                                </label>
                                                                                                                <div class="file-button">
                                                                                                                    Browse
                                                                                                                    <input onchange="document.getElementById('prepend-big-btn').value = this.value;" type="file"></div>
                                                                                                                    <input id="prepend-big-btn" placeholder="no file selected" type="text"></div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="col-lg-6">
                                                                                                                <div class="form-group sm-res-mg-15 tbpf-res-mg-15">
                                                                                                                    <input class="form-control" placeholder="Description" type="text"></div>
                                                                                                                    <div class="form-group">
                                                                                                                        <select class="form-control">
                                                                                                                            <option>Select Gender</option>
                                                                                                                            <option>Male</option>
                                                                                                                            <option>Female</option>
                                                                                                                        </select>
                                                                                                                    </div>
                                                                                                                    <div class="form-group">
                                                                                                                        <select class="form-control">
                                                                                                                            <option>Select country</option>
                                                                                                                            <option>India</option>
                                                                                                                            <option>Pakistan</option>
                                                                                                                            <option>Amerika</option>
                                                                                                                            <option>China</option>
                                                                                                                            <option>Dubai</option>
                                                                                                                            <option>Nepal</option>
                                                                                                                        </select>
                                                                                                                    </div>
                                                                                                                    <div class="form-group">
                                                                                                                        <select class="form-control">
                                                                                                                            <option>Select state</option>
                                                                                                                            <option>Gujarat</option>
                                                                                                                            <option>Maharastra</option>
                                                                                                                            <option>Rajastan</option>
                                                                                                                            <option>Maharastra</option>
                                                                                                                            <option>Rajastan</option>
                                                                                                                            <option>Gujarat</option>
                                                                                                                        </select>
                                                                                                                    </div>
                                                                                                                    <div class="form-group">
                                                                                                                        <select class="form-control">
                                                                                                                            <option>Select city</option>
                                                                                                                            <option>Surat</option>
                                                                                                                            <option>Baroda</option>
                                                                                                                            <option>Navsari</option>
                                                                                                                            <option>Baroda</option>
                                                                                                                            <option>Surat</option>
                                                                                                                        </select>
                                                                                                                    </div>
                                                                                                                    <div class="form-group">
                                                                                                                        <input class="form-control" placeholder="Website URL" type="text"></div>
                                                                                                                        <input class="form-control" placeholder="Mobile no." type="number"></div>
                                                                                                                    </div>
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-lg-12">
                                                                                                                            <div class="payment-adress mg-t-15">
                                                                                                                                <button class="btn btn-primary waves-effect waves-light mg-b-15" type="submit">Submit</button>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Firtname</th>
                <td>{{ etudiant.firtname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ etudiant.lastname }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ etudiant.image }}</td>
            </tr>
            <tr>
                <th>Datenaiss</th>
                <td>{{ etudiant.datenaiss }}</td>
            </tr>
            <tr>
                <th>Lieunaiss</th>
                <td>{{ etudiant.lieunaiss }}</td>
            </tr>
            <tr>
                <th>Cni</th>
                <td>{{ etudiant.cni }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ etudiant.address }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ etudiant.mobile }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ etudiant.genre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ etudiant.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etudiant_index') }}">back to list</a>

    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
